.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  width: 300px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.sorting-button{
  background: #414141;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.sorting-button:hover{
  background: #333;
}